-e git+https://github.com/jac-h/python-jcmt2caom2.git#egg=jcmt2caom2
-e git+https://github.com/jac-h/python-tools4caom2.git#egg=tools4caom2
http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/software/pyCAOM2-0.6.1.tar.gz
http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/software/caom2repoClient-0.5.1.tar.gz

astropy==0.4.1
requests==2.3.0
vos==1.10.5
lxml
