Observation.sequenceNumber                = OBSNUM
Observation.target.standard               = STANDARD
Observation.target.redshift               = ZSOURCE
Observation.target.name                   = target.name
Observation.target.moving                 = target.moving
Observation.TargetPosition.coordinates.cval1    = target_position.cval1
Observation.TargetPosition.coordinates.cval2    = target_position.cval2
Observation.TargetPosition.coordsyscd cadcg            = target_position.radesys
Observation.TargetPosition.equinox        = target_position.equinox
Observation.telescope.name                = TELESCOP
Observation.telescope.geoLocationX        = OBSGEO-X
Observation.telescope.geoLocationY        = OBSGEO-Y
Observation.telescope.geoLocationZ        = OBSGEO-Z
Chunk.time.exposure                       = EXP_TIME
