Observation.sequenceNumber                = OBSNUM
Observation.target.standard               = STANDARD
Observation.target.redshift               = ZSOURCE
Observation.telescope.name                = TELESCOP
Observation.telescope.geoLocationX        = OBSGEO-X
Observation.telescope.geoLocationY        = OBSGEO-Y
Observation.telescope.geoLocationZ        = OBSGEO-Z
Chunk.time.exposure                       = EXP_TIME
